.icon{
    display inline-block
}
.prev-icon::before{
    display inline-block
    content ''
    width 20px
    height 20px
    background-image url('/static/img/icon/player.png')
    background-position 0 -30px
}
.playing-icon::before{
    display inline-block
    content''
    width 20px
    height 30px
    background-image url('/static/img/icon/player.png')
    background-position 0 0
}
.pause-icon::before{
    display inline-block
    content''
    width 20px
    height 30px
    background-image url('/static/img/icon/player.png')
    background-position -30px 0
}
.next-icon::before{
    display inline-block
    content ''
    width 20px
    height 20px
    background-image url('/static/img/icon/player.png')
    background-position: 0 -50px
}